/*Logo*/
.logo {
width: calc(100% - 100px);
margin: 0 auto;
background-image: image-set(url('../../src/images/Vim-video.png') 1x, url('../../src/images/Vim-video.png') 2x, url('../../src/images/Vim-video.png') 3x);
height: 40px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.logo-image {
  margin: 0;
}
.logo-image img {
  max-width: 100%;
}
